<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Liste Freelancer</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>email</th>
                                    <th>Adresse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in freelancers %}
                                    {% for u in users if u.email==f.email%}
                                <tr>
                                    <td>u.nom</td>
                                    <td>u.prenom</td>
                                    <td>u.email</td>
                                    <td>u.adresse</td>
                                    <td>f.note</td>
                                </tr>
                                {% endfor %}
                             {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>email</th>
                                    <th>Adresse</th>
                                    <th>Note</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{# empty Twig template #}
